.App {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.middle {
  flex: 50%;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .flex-row {
    flex-direction: column;
  }
}


.buttons {
  display: flex;
}
